/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/01/2017, 09:06:36
    Author     : Alexandre
*/
shadowOrange {
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.98);
}

.icone {
    margin: .9em;
    vertical-align: bottom;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.98);

}

.mylogo {
    font-size: 4em !important;
    color: teal;
}
